.square-container {
  background-color: var(--square-background-color);
  display: inline-block;
  width: 21%;
  height: 21%;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  color: #fff;
}
