/*
app variables
*/

:root {
  /* background colors */
  --board-background-color: #dda4a4;
  --square-background-color: #ddc7c7;

  /* font */
  --main-font: 'Orbitron', sans-serif;

  /* board dimensions */
  --board-height: 72%;
  --board-width: 36%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* board dimensions */
    --board-height: 100%;
    --board-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}